---
name: Eb3_GenderAge_
seed: 16

wandb:
  project: JSH_project
  flag: True

train:
  # 학습 대상을 정할 수 있습니다.
  target: gender_age # label, age, gender, mask,gender_age

  model:
    name: efficientnet_b3

  fold:
    n_splits: 5
    random_state: 1004

  epochs: 5

  augmentation: 
    name: CutoutTransform
    args:
      resize: 512
      cutout: 130

  # 공식 문서에 있는 설정을 더 추가할 수 있습니다
  data_loader:
    batch_size: 16
    shuffle: True
  val_data_loader:
    batch_size: 50

  optimizer:
    type: Adam
    args:
      lr: 0.00003
      weight_decay: 0
      betas: [0.7, 0.999]
      amsgrad: true

  loss:
    name: focal
    args: {}

  lr_scheduler:
    type: ReduceLROnPlateau
    args:
      mode: min

  log_interval: 20

trainer:
  csv_path: ../data/train/train.csv
  img_path: ../data/train/images
  save_dir: ../model_weights
  